:root {
  --nav-height: 100px;
  --dark: #393e46;
}
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #393e46;
  color: #eeeeee;
}
h1 {
  padding: 30px;
}
.main {
  display: flex;
  background-color: #aad8d3;
}
.topbar {
  height: var(--nav-height);
  background-color: var(--dark);
}
.navigation {
  max-width: 350px;
  flex-grow: 1;
  height: calc(100vh - var(--nav-height));
  overflow: hidden;
  background-color: #00adb5;
}
.list-view {
  flex-grow: 2;
  max-width: 50vw;
}
ul {
  list-style: none;
}
.navigation li {
  padding: 0.8rem;
  font-size: 1.2rem;
  width: 100%;
  display: block;
  cursor: pointer;
}
.navigation li:hover {
  background-color: rgba(238, 238, 238, 0.3);
}
.list-view li {
  padding: 2rem;
  background-color: rgba(238, 238, 238, 0.3);
  margin: 1rem 1rem;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: var(--dark);
}
.list-item {
  display: flex;
  justify-content: space-between;
}
.item-left,
.item-right {
  max-width: 50%;
  width: 250px;
}
.list-item label {
  text-align: left;
  display: inline-block;
  width: 50px;
}
.list-item input {
  margin-left: 1rem;
}

.list-item input[type="range"] {
  margin-top: 10px;
}
.item-right span {
  float: right;
}
#new-project {
  width: 100%;
  padding: 0.6rem;
  background-color: transparent;
  color: #aad8d3;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: ease-in all 0.1s;
  -webkit-transition: ease-in all 0.1s;
  -moz-transition: ease-in all 0.1s;
  -ms-transition: ease-in all 0.1s;
  -o-transition: ease-in all 0.1s;
}
#new-project:hover {
  color: #00adb5;
  background-color: #aad8d3;
}

#new-item {
  float: right;
  padding: 0.6rem;
  color: var(--dark);
  background-color: transparent;
  font-size: 1rem;
  border: 1px solid var(--dark);
  border-radius: 30px;
  cursor: pointer;
  transition: linear all 0.2s;
  -webkit-transition: linear all 0.2s;
  -moz-transition: linear all 0.2s;
  -ms-transition: linear all 0.2s;
  -o-transition: linear all 0.2s;
}
#new-item:hover {
  color: #aad8d3;
  background-color: var(--dark);
}
